Force PeeringDB sync off if ASN is a private ASN

### Peering Manager version

1.7.5-dev

### Feature type

Change to existing functionality

### Proposed functionality

Enforce 'Synchronise with PeeringDB' fields **off** _if_ the ASN is inside a private ASN range. This should apply to _all_ ASN's (i.e. the `autonomous-systems` model)

![image](https://user-images.githubusercontent.com/1938389/227916561-444e0be7-7b45-4c1d-a1f2-dfcb805000a6.png)

Bogon ASN's [(link](https://bgpfilterguide.nlnog.net/guides/bogon_asns/))

```conf
define BOGON_ASNS = [
  0,                      # RFC 7607
  23456,                  # RFC 4893 AS_TRANS
  64496..64511,           # RFC 5398 and documentation/example ASNs
  64512..65534,           # RFC 6996 Private ASNs
  65535,                  # RFC 7300 Last 16 bit ASN
  65536..65551,           # RFC 5398 and documentation/example ASNs
  65552..131071,          # RFC IANA reserved ASNs
  4200000000..4294967294, # RFC 6996 Private ASNs
  4294967295 ];           # RFC 7300 Last 32 bit ASN
```

**If** Peering-Manager is running with the debug flag set to _true_. The user should be allowed to enable the sync flags. Should be enforced _off_ if Peering-Manager is running with the debug flag set to _false_ in configuration.py.

### Use case

This avoid's unnecessary requests to the PeeringDB API.

### Database changes

None

### External dependencies

None

When I write "Enforce 'Synchronise with PeeringDB'". It should IMO **prevent** the user from enabling these flags, if the ASN is a private ASN. (I.e. turn off the sync with PDB completely, and prevent the user from enabled it for the private ASN)

> If Peering-Manager is running with the debug flag set to true. The user should be allowed to enable the sync flags. Should be enforced off if Peering-Manager is running with the debug flag set to false in configuration.py.

I don't understand this part. What's the point of being able to enforce sync or not depending on debug flag for private ASN?

> This avoid's unnecessary requests to the PeeringDB API.

Just as a FYI, it won't avoid requests to PeeringDB as all of this is done via the local cache.  It will avoid SQL queries though.